<div class="home">
  <div class="header-basic container-horizontal">
    <div>
      <span class="subtitle">Boards</span>
    </div>
    <div class="right-align">
      <input *ngIf="creatingBoard" class="light" placeholder="Board name" (keyup)="setBoardName($event.target.value)">
      <button class="btn primary" (click)="handleCreateBoardClick()">
        {{ creatingBoard ? "Submit" : "Create Board" }}
      </button>
    </div>

  </div>

  <div class="container">
    <ul *ngIf="boardItems && boardItems.length > 0; else noBoards">
      <li *ngFor="let item of boardItems">
        <p class="title"><strong>{{ item.name }}</strong></p>
        <!--<p class="episode">Episode: {{ item.episode_id }}</p>
        <p class="date">Release date: {{ item.release_date }}</p>-->
      </li>
    </ul>
    <ng-template #noBoards>
      <div class="msg-empty">
        You don't have access to any board. You can create a new one.
      </div>
    </ng-template>
  </div>
</div>
