<div *ngIf="boardReady" class="board">
  <div class="header-basic menu-container">
    <div class="menu-item">
      <span>BOARD:</span>
      <app-inline-input [value]=getBoardDisplayName() (valueChanged)="handleRenameBoard($event)"></app-inline-input>
    </div>
    <div style="margin-left: 50px">
      <span>MEMBERS:</span>
    </div>
    <div class="menu-item member-list" *ngFor="let member of data.teamMembers">
      <div class="dropdown">
        <button class="btn member">{{member}}</button>
        <div class="dropdown-content">
          <a class="dropdown-item" (click)="deleteUserFromBoard(member)">Remove user</a>
        </div>
      </div>
    </div>
    <div class="menu-item right-align">
      <div>
        <button class="btn simple" (click)="toggleAddingUserModal()">Add user</button>
      </div>
      <div>
        <button class="btn simple" (click)="toggleDeletingBoardModal()">Delete Board</button>
      </div>
      <div>
        <button class="btn simple" (click)="navigateBack()">Back</button>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="list-container">
      <app-list title="First"></app-list>
      <app-list title="My list name"></app-list>
      <app-list title="Hello"></app-list>
      <app-list wildcard=true></app-list>
    </div>
  </div>
</div>


<div *ngIf="addingUser" class="modal">
  <div class="modal-background">
    <div class="modal-window">
      <div class="modal-header">
        Choose user that you want to add to the board.
      </div>
      <div class="modal-body">
        <div class="form-control-container">
          <label for="userToAdd">
            username
          </label>
          <input id="userToAdd" type="text" #userToAdd>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" (click)="toggleAddingUserModal()">Cancel</button>
        <button type="submit" (click)="addUserToBoard(userToAdd.value)" class="btn primary">Confirm</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="deletingBoard" class="modal">
  <div class="modal-background">
    <div class="modal-window">
      <div class="modal-header">
        Are you sure you want to delete this board?
      </div>
      <div class="modal-body">
        <div class="form-control-container">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" (click)="toggleDeletingBoardModal()">Cancel</button>
        <button type="submit" (click)="deleteBoard()" class="btn primary">Confirm</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="error" class="modal">
  <div class="modal-background">
    <div class="modal-window">

      <div class="modal-body">
        <div class="form-control-container" style="color: red">
          {{errorMessage}}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn primary" (click)="toggleErrorModal()">OK</button>
      </div>
    </div>
  </div>
</div>
