<div class="inline-input" [class.editing]="isEditing">
  <div class="wrapper">
    <div
      class="value-container"
      (click)=setEditing(true)
      [class.editing]=isEditing
      (keyup.escape)=handleEscape($event)
      (keydown.enter)=handleEnter($event)
      contenteditable="true"
      #valueContainer
    >{{value}}</div>
    <div class="input-btn left" (click)=handleCancel()>
      <fa-icon [icon]="iconCancel"></fa-icon>
    </div>
    <div class="input-btn right" (click)=handleConfirm()>
      <fa-icon [icon]="iconConfirm"></fa-icon>
    </div>
  </div>
</div>
