<div class="list">
  <div class="title" [class.title-wildcard]="wildcard">
    <app-inline-input
      *ngIf="wildcard else listName"
      value="Add another list"
      (valueChanged)="handleListAdded($event)"
    ></app-inline-input>
  </div>
  <div *ngIf="!wildcard" class="card-container">
    <app-card *ngFor="let card of cards" [data]="card" (click)="handleCardClicked(card.id)" class="draggable"></app-card>
    <app-card wildcard=true (cardAdded)="handleCardAdded($event)"></app-card>
  </div>
</div>

<ng-template #listName>
  <app-inline-input
    [value]="title || '[Unnamed list]'"
    (valueChanged)="handleListRenamed($event)"
  ></app-inline-input>
</ng-template>
